@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:wght@200;400&display=swap');
$darkPink:#ba4270;
$linkWaterWhite:#fbfcfe;
$sanBlue:#36536b;
$migBlue:#1b262f;
$charmPink:#da6d97;
$lightBlue:#6c8294;

html{
    font-family: 'Public Sans', sans-serif ;
}
.fmHeading{
    font-family: 'DM Serif Display', serif;
}

.textLight{
    color: $linkWaterWhite;
}
.textSite{
    color: $darkPink;
}
.borderBottom{
    border-bottom: .2px solid #8DA4B4;
}
.borderTop{
    border-top: .2px solid #8DA4B4;
}
.fs-7{
    font-size: 1.2rem;
}
.textTransparent{
    color:transparent;
}
.optionInactive{
    color:#8DA4B4;
}
.option{
    padding-left: 40%;
}
.w-90{
    width: 90% !important;
}
.home{
    background-image:url('./assets/shared/desktop/bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position: center -400px;
    padding-top: 60px;
}
.button{
    padding:.7rem 1.5rem;
    border-radius: 2.2rem !important;
    border:none;
    font-size: 15px;
    font-weight:500;
}
.textLightBlue{
    color:$lightBlue;
}
.textSanBlue{
    color:$sanBlue;
}
.bgDark{
    background-color: $migBlue;
}
.mainBtn{
    @extend .button;
    background-color: $darkPink !important;
    color:$linkWaterWhite !important;
    &:hover{
        background-color: $charmPink !important;
    }
    &:disabled{
        background-color: $charmPink !important; 
        opacity:.5;
    }
}

.secondaryDarkBtn{
    @extend .button;
    background-color: $linkWaterWhite;
    color:$migBlue;
    border:1px solid $migBlue;
    &:hover{
        background-color: $migBlue !important;
        color:$linkWaterWhite
    }
    &:disabled{
        background-color: $linkWaterWhite;
        color:$lightBlue;
        border-color: $lightBlue;
    }
}

.secondaryLightBtn{
    @extend .button;
    background-color: $migBlue;
    color:$linkWaterWhite;
    border:1px solid $linkWaterWhite;
    &:hover{
        background-color: $linkWaterWhite;
        color:$migBlue
    }
    &:disabled{
        background-color: $migBlue;
         color:$lightBlue;
         border-color: $lightBlue;
    }
}
nav{
    position: fixed !important;
    top:0px;
    width: 100%;
    z-index:5;
}
.navbar-expand-lg{
    .nav-link{
        font-size: 15px !important;
        font-weight: 500 !important;
        color:$lightBlue !important;
        &:hover,&.active{
            color:$charmPink !important;
        }
        }
    .navbar-toggler{
        position: relative;
        z-index:4;
      }
      .scheduleBtn{
        width:80%;
      }
   
}

 .adjustBtn{
        display: block !important;
        position: fixed !important;
        width:80% !important;
        left:20%;
        text-align: right;
        top:0;
        height:50px;
        z-index:4;
        background-color: #1b262f !important;
        border-radius: 0 !important;
        svg{
            margin: 1rem;
        }
 }
 .adjustMenu{
        background-color: #1b262f;
        position: fixed !important;
        left:20% !important;
        top:50px !important;
        height: calc(100vh) !important;
        width: 80% !important ;
        z-index:2 !important;
    }
.logoDiv a{
    font-weight: 500;
   &:hover{
    color:$linkWaterWhite !important;
      }
}
.socials a svg:hover path{
    fill:#da6d97 !important;
}

#emailInput{
    border:none;
    z-index:2;
    &:focus{
        box-shadow: none;
        border:1px solid $charmPink;
        border-right:none;
    }
    &::placeholder{
        padding-left:.5rem;
        font-size: 1rem;
        line-height: 1.3;
        color:$lightBlue;
        font-weight: 500;
    }
}
#enterEmailBtn{
    z-index:4;
    position: absolute;
    right:0px;
    height: 100%;
    border:none;
}
.imageHomeWidth{
    width:100%;
}
.whoWork{
    background-image: url('./assets/shared/desktop/bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position:center 300%;
}

.implementInfo{
    position: relative;
    top:-20px;
}
.readyToStartWidth{
    display: block !important;
    input{
        width: 90% !important;
        margin: 0 auto 1rem;
        &:focus{
        border:1px solid $charmPink !important;
    }
    }

    #enterEmailBtn{
        padding:.8rem 0;
        position: static;
        width: 90% !important;
        display: block;
        margin: 0 auto;
    }
}

.footer{
    background-image: url('./assets//shared//desktop/bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position: center -40%;
}
.bigContainer{
background-color: #ECF3F9;
}
.pricing{
    padding-top: 100px;
    height: 200px;
    background-image: url('./assets//shared//desktop/bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position: calc(100% + 400px) -650px;
}
.about{
        background-image: url('./assets//shared//desktop/bg-pattern-circle.svg');
        background-repeat: no-repeat;
        padding-top: 100px;
        background-position: calc(100% + 400px) -650px;
}
.aboutHeading{
  width:95%;
  margin:0 auto;   
}
.smallaboutBorder{
    border-bottom:.2px solid #8DA4B4;
}
.topaboutBorder{
    border-top:.2px solid #8DA4B4;
}

.contact .form-control{
     background-color: transparent;
     border-radius: unset;
     border:none;
     border-bottom: .2px solid #8DA4B4;
     &:focus{
        box-shadow: none;
        background-color: transparent;

     }
}
   #message{
     color: $lightBlue;  
    }
    .form-check-input{
        background-color: #BCCBD6 !important;
        border-radius: unset !important;
        border:none !important;
    }
@media screen and (min-width:460px){
            #emailInput{
                &::placeholder{
                    padding-left:1rem;
                }
            }
            .home{
                background-position: center -300px;
            }
            .imageHomeWidth{
                width: auto;
            }
    }
@media screen and (min-width:768px){
            .home{
                background-position: center -400px;
            }    
            .navbar-expand-lg{
                     .navbar-toggler {
                            display: none;
                        }
                    .navbar-nav {
                            flex-direction: row;
                            }
                    .navbar-collapse {
                            background-color: transparent;
                            position: static !important;
                            width: auto !important;
                            height:auto !important;
                            display: flex!important;
                            flex-basis: auto !important;
                        }
                    .navbar-nav .nav-link {
                            padding-right: var(--bs-navbar-nav-link-padding-x);
                            padding-left: var(--bs-navbar-nav-link-padding-x);
                            &:hover , &.active{
                                color:$migBlue !important;
                            }
                            }
                    .scheduleBtn{
                        width:auto;
                    }
            }

            .logoDiv{
                width:70%;
            }
            .socials{
                width:30%;
                text-align: right;
            }
            .whoWork{
                background-position:center 200%;
           }

           .implementInfo{
                top:-60px;
            }
             
            .readyToStartWidth{
                width: 80% !important;
                display: flex !important;
                input{
                    width: auto !important;
                    margin: 0 ;
                     &:focus{
                        border-right:none !important;
                    }
                }
                #enterEmailBtn{
                    padding: 0;
                    position: absolute;
                    width: auto !important;
                    display: inline;
                    margin: 0;
                }
}
.option{
    padding-left: 20%;
}
.pricing{
    height:300px;
    background-position: calc(100% + 420px) -480px;
    h1{
        padding-top: 50px;
    }
}
.about{
        background-position: calc(100% + 420px) -480px;
}
.aboutHeading{
  width:100%;
  margin:0 auto;   
}

.smallaboutBorder,.topaboutBorder{
    border:none;
}

.aboutBorder{
        border-bottom: .2px solid #8DA4B4;
        border-top: .2px solid #8DA4B4;
}

.footer{
    background-image: unset;
}
            
}

@media screen and (min-width:992px){
    .home{
    background-position: 150% -200px;
   }

   .imageHomeHeading,.workOrder{
    order:2;
   }
   .whoWork{
    background-position:-40% 80%;
}
    .implementInfo{
        position: static;
            }
    .readyToStartWidth{
        width: 50% !important;
    }
.simpleUi{
    background-image:url('./assets/shared/desktop/bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position: calc(100% + 500px) -150px;
}
.pricing{
    background-position: calc(100% + 150px) -550px;
}
.option{
    padding-left: 0px;
}
#aboutImage{
    padding:7rem 0 !important;
    background-image:url('./assets/shared/desktop/bg-pattern-circle.svg');
    background-repeat: no-repeat;
     background-position: -650px -100px;
}
.about{
    background-position: calc(100% + 150px) -550px;
}
.aboutHeading{
  width:85%;
}
.contactTitle{
   width:50%;
}          
}
.w-85{
    width:95% !important;
}

@media screen and (min-width:1200px){
    .home{
    background-position: 110% -200px;
   }
    .readyToStartWidth{
        width: 40% !important;
    }
   .simpleUi{
    background-position: calc(100% + 450px) -80px; 
    }
    .aboutHeading{
         width:70%;
        }
    #aboutImage{
        padding:6rem 0;
        background-position: -570px -25px;
    }
    .contactTitle{
        width:50%;
    }  
   
}

