@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:wght@200;400&display=swap');
$darkPink:#ba4270;
$linkWaterWhite:#fbfcfe;
$sanBlue:#36536b;
$migBlue:#1b262f;
$charmPink:#da6d97;
$lightBlue:#6c8294;

html{
    font-family: 'Public Sans', sans-serif ;
}
.fmHeading{
    font-family: 'DM Serif Display', serif;
}

.w-90{
    width: 90% !important;
}
.bigContainer{
    background-image:url('./assets/shared/desktop/bg-pattern-circle.svg'),linear-gradient(#ECF3F9,#ECF3F9);
    background-repeat: no-repeat;
    background-position: center -100%;
}
.button{
    padding:.7rem 1.5rem;
    border-radius: 2.2rem !important;
    border:none;
    font-size: 15px;
    font-weight:500;
}
.textLightBlue{
    color:$lightBlue;
}
.textSanBlue{
    color:$sanBlue;
}
.bgDark{
    background-color: $migBlue;
}
.mainBtn{
    @extend .button;
    background-color: $darkPink !important;
    color:$linkWaterWhite !important;
    &:hover{
        background-color: $charmPink !important;
    }
    &:disabled{
        background-color: $charmPink !important; 
        opacity:.5;
    }
}

.secondaryDarkBtn{
    @extend .button;
    background-color: $linkWaterWhite;
    color:$migBlue;
    border:1px solid $migBlue;
    &:hover{
        background-color: $migBlue;
        color:$linkWaterWhite
    }
    &:disabled{
        background-color: $linkWaterWhite;
        color:$lightBlue;
        border-color: $lightBlue;
    }
}

.secondaryLightBtn{
    @extend .button;
    background-color: $migBlue;
    color:$linkWaterWhite;
    border:1px solid $linkWaterWhite;
    &:hover{
        background-color: $linkWaterWhite;
        color:$migBlue
    }
    &:disabled{
        background-color: $migBlue;
         color:$lightBlue;
         border-color: $lightBlue;
    }
}
nav{
    position: fixed !important;
    top:0px;
    width: 100%;
}
.navbar-expand-lg{
    .nav-link{
        font-size: 15px !important;
        font-weight: 500 !important;
        color:$lightBlue !important;
        &:hover,&.active{
            color:$charmPink !important;
        }
        }
    .navbar-toggler{
        position: relative;
        z-index:4;
      }
      .scheduleBtn{
        width:80%;
      }
   
}

 .adjustBtn{
        display: block !important;
        position: fixed !important;
        width:80% !important;
        left:20%;
        text-align: right;
        top:0;
        height:50px;
        z-index:4;
        background-color: #1b262f !important;
        border-radius: 0 !important;
        svg{
            margin: 1rem;
        }
 }
 .adjustMenu{
        background-color: #1b262f;
        position: fixed !important;
        left:20% !important;
        top:50px !important;
        height: calc(100vh) !important;
        width: 80% !important ;
        z-index:2 !important;
    }
.logoDiv a{
    font-weight: 500;
   &:hover{
    color:$linkWaterWhite !important;
      }
}
.socials a svg:hover path{
    fill:#da6d97 !important;
}

.parent{
    padding-top:60px;
}
#emailInput{
    border:none;
    z-index:2;
    &:focus{
        box-shadow: none;
        border:1px solid $charmPink;
        border-right:none;
    }
    &::placeholder{
        padding-left:.5rem;
        font-size: 1rem;
        line-height: 1.3;
        color:$lightBlue;
        font-weight: 500;
    }
}
#enterEmailBtn{
    z-index:4;
    position: absolute;
    right:0px;
    height: 100%;
    border:none;
}
.imageHomeWidth{
    width:100%;
}

@media screen and (min-width:460px){
            #emailInput{
                &::placeholder{
                    padding-left:1rem;
                }
            }
            .bigContainer{
                background-position: center -80%;
            }
            .imageHomeWidth{
                width: auto;
            }
    }
@media screen and (min-width:768px){
            .bigContainer{
                background-position: center -130%;
            }    
            .navbar-expand-lg{
                     .navbar-toggler {
                            display: none;
                        }
                    .navbar-nav {
                            flex-direction: row;
                            }
                    .navbar-collapse {
                            background-color: transparent;
                            position: static !important;
                            width: auto !important;
                            height:auto !important;
                            display: flex!important;
                            flex-basis: auto !important;
                        }
                    .navbar-nav .nav-link {
                            padding-right: var(--bs-navbar-nav-link-padding-x);
                            padding-left: var(--bs-navbar-nav-link-padding-x);
                            &:hover , &.active{
                                color:$migBlue !important;
                            }
                            }
                    .scheduleBtn{
                        width:auto;
                    }
            }

            .logoDiv{
                width:70%;
            }
            .socials{
                width:30%;
                text-align: right;
            }
             
            
}

@media screen and (min-width:992px){
    .bigContainer{
    background-position: 150% -450%;
   }
   .imageHomeHeading{
    order:2;
   }
}

@media screen and (min-width:1200px){
    .bigContainer{
    background-position: 110% -480%;
   }
}

